<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(personId=${person.geteId()})}" th:object="${person}">
    <label for="fullName">Enter name: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Ошибка ФИО</div>
    <br/>
    <label for="dateBirth">Enter date</label>
    <input type="text" th:field="*{dateBirth}" id="dateBirth"/>
    <div style="color: red" th:if="${#fields.hasErrors('dateBirth')}" th:errors="*{dateBirth}">Ошибка даты рождения</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>